@font-face {
    font-family:Muli-Bold;
    src: url('/font/Muli-Bold.ttf');
}
#eng_Word{
  font-family:Muli-Bold !important;
}

@font-face {
    font-family:Muli-Light;
    src: url('/font/Muli-Light.ttf');
}
#spanish_Word{
  font-family:Muli-Light !important;
}

@font-face {
    font-family:Muli-ExtraLight;
    src: url('/font/Muli-ExtraLight.ttf');
}
body{
  font-family:Muli-ExtraLight !important;
  background-image: url(/images/Home-BG.jpg);
  background-repeat:no-repeat;
}

.lbutton{
    color: #ffffff;
    background: #9fdff5;
    height: 40px;
    line-height: 38px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.04em;
    font-size: 15px;
    padding: 0 35px;
    width: 140px;
    margin-right: 20px;
}

.lbutton:hover{
  background: #e14085;
}

.container-fluid
{
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
}

.Bimage {
  position: relative;
}
.BimageOverText{
  position: absolute;
  top: 50px;
  width: 100%;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  color: #012e55;
  font-size: 30px;
}


.paddBottom100{
  padding-bottom:100px;
}
.paddTop100{
  padding-top:100px;
}
.paddTop150{
  padding-top:150px;
}
.boldblue{
  font-weight: 900;
  color: #012e55;
}
.lightblue{
  font-weight: 200;
  color: #05bec0;
}
.noMargin{
  margin: 0px !important;
}
.justfyCont{
  text-align: justify;
}
.pinkbtn{
  background: #e14085;
  color: white;
}
.backimageHIW{
  background-image: url(/images/How-Its-Work-BG.jpg);
  background-size: cover;
}
.backimageAYLF{
  background-image: url(/images/Are-You-Looking-for-Banner.jpg);
  background-size: cover;
}
.btn-blue {
  color: #fff;
  background-color: #33add7;
  border-color: #33add7;
}

.btn-black {
  color: #fff;
  background-color: #191919;
  border-color: #191919;
}
.footerfont{
  color: white;
    font-size: 16px;
}

input,
input::-webkit-input-placeholder {
    font-size: 10px;
    line-height: 3;
    color: white;
    text-align: left;
}
.hight500{
  height: 500px;
}